.filtr{
  text-align: center;
  color:black;
}
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; /* Możesz dostosować wysokość do swoich potrzeb */
}
.filter-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  max-width: 1000px; /* Ustawiamy max-width dla kontroli responsywności */
  text-align: center;
}


.filter-title {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.filter-option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.filter-checkbox {
  margin-right: 10px;
}

.filter-label {
  font-size: 14px;
  color: #555;
}

.filter-label:hover {
  color: #007bff;
  cursor: pointer;
}

.custom-link {
    display: inline-block;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    text-align: center;
    text-decoration: none;
  }

  .custom-link:hover {
    color: #007bff;
    text-decoration: underline  #007bff ; 
  }
  .custom-link1:hover {
    color: #007bff;
    text-decoration: underline  #007bff ; 
    
  }
  .active{
    color: #007bff;
    text-decoration: underline  #007bff ; 
    
}
/*karta*/
.card-title{
font-size: 12px;
}
.szczegoly-ofert-glowna{
background-color: white;
color:#007bff;
text-align: center;
border: 0.1rem solid #007bff;
padding: 6px;
border-radius: 4px;
}
.szczegoly-ofert-glowna:hover{
  background-color: white;
  color:#9932CC;
  border: 1px solid #9932CC;
}
/*koniec karty*/
.zarejestruj-btn{
  background-color: #007bff;
  color:white;

  font-size: 15px;
}
.register-btn {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  text-align: center;
  text-decoration: none;
}
.login-btn {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  border: 0.1rem solid lightgray;
}
.login-btn:hover {
background-color: #007bff;
color:white;
}
.register-btn:hover {
  color: #007bff;

}
.zarejestruj-btn:hover{
  background-color: 	#6A5ACD;
  color:white;
}
.widelki-wynagrodzenia{
  margin-left: 50px;
  color:#9932CC;
  
}
.login-btn{
  background-color: white;
  color:#6A5ACD;
}
.card-title{
color: black;

}
.adres-firmy{
  margin-top: -20px;
  margin-left: 15px;
  color:gray;
}
.card-text{
  color:gray;
  margin-top: 10px;
}
.image-offerts{
  width: 80px;
  height: 80px;
}
.card-footer{
  background-color: white;
}



.offerts-cost{
  color: #4B0082;

}
.card {
  position: relative;
  padding: 20px;
width: 100%;
}

.custom-link {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  text-align: center;
  text-decoration: none;
}

.custom-link:hover {
  color: #007bff;
  text-decoration: underline #007bff;
}

.custom-link1:hover {
  color: #007bff;
  text-decoration: underline #007bff;
}

.active {
  color: #007bff;
  text-decoration: underline #007bff;
}

.card-title {

  font-size: 14px; /* Dodany rozmiar czcionki */
  font-weight: bold; /* Pogrubienie tekstu */
  margin-bottom: 0.5em; /* Odstęp od pozostałej treści */
}

.offerts-cost {
  color: #4B0082;
}

.image-offerts {
  width: 100%;
  height: auto; /* Zmieniony sposób skalowania */
}
.card:hover {
  cursor: pointer;
  background: linear-gradient(to left, #00FFFF 45%, #E0FFFF 80%);
}



.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Cień */
  transition: 0.3s;
  border-radius: 5px; /* Zaokrąglenie rogów */
  margin: 15px; /* Odstęp między kartami */
  width: 100%; /* Szerokość karty */
  display: inline-block; /* Karty wyświetlane obok siebie */
  vertical-align: top; /* Ustawienie kart w linii */
}

.card-body {
  padding: 15px;
}

.card-footer {
  background-color: white;
  text-align: right;
  padding: 10px;
}
.offerts-iconsave{
  text-align: right;
  margin-top: -100px;
}
.offerts-jobet{
  background-color: #00FFFF;
  color:	#1E90FF;
  font-size:13px;
  padding: 3px;

}
.offerts-salary{
  color:gray;
  margin-left: 5px;
  font-size: 12px;
}
#name-offerts {
color:black;
  font-size: 13px; /* Dodany rozmiar czcionki */
  font-weight: bold; /* Pogrubienie tekstu */
}

.adress-offerts {
color:gray;
font-size:11px;
  margin-bottom: 0; /* Usunięty odstęp */
}

.aplicate-offets {
  font-size: 13px;
  text-decoration: none;
  color: #007bff;
}

.aplicate-offets:hover {
  text-decoration: underline; /* Dodanie podkreślenia przy najechaniu */
}
/*glowna*/
*{
  padding: 0;
  margin: 0;
}

*{
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
-o-box-sizing:border-box;
-ms-box-sizing:border-box;
box-sizing:border-box;
}
body{
font-family: 'Poppins', sans-serif;
font-size:14px;
color:#a09e9c;
  text-transform:initial;
  max-width:1920px;
  margin:0 auto;
overflow-x:hidden;
}

h2 a,
h2 a:hover,
h2 a:active,
h2 a:focus {
    display: inline-block;
    text-decoration: none;
    color: #343a3f;
    font-size: 16px;
    padding: 0;
    font-weight: 500;
    text-transform: capitalize;
}


h1,h2,h3,h4,h5,h6 { 
margin: 0;
color:#343a3f;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
}

img{border:none;max-width:100%; height:auto;}
select,input,textarea,button{box-shadow:none;outline:0!important;}
button {background: transparent;border: 0;font-size: 12px;}

html,body{height: 100%;}

[placeholder]:focus::-webkit-input-placeholder {
-webkit-transition: opacity 0.3s 0.3s ease; 
-moz-transition: opacity 0.3s 0.3s ease; 
-ms-transition: opacity 0.3s 0.3s ease; 
-o-transition: opacity 0.3s 0.3s ease; 
transition: opacity 0.3s 0.3s ease; 
opacity: 0;
}

/* section-header */
.section-header{
  position: relative;
  text-align: center;
}
.section-header h2{
  color: #505866;
  font-size:24px;
  font-weight: 500;
  margin-bottom: 24px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}
.section-header h2 span{text-transform: lowercase;}
.section-header p{
  font-size:16px;
}
/* section-header */
.fix{position: relative;clear: both;}
.welcome-hero {
  position: relative;
  background-image: url('images/bannertop.jpg');
  background-position:center;
  background-size:cover;
  text-align: center;
  height:800px;
  z-index: 1;
}
.welcome-hero:before{
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:rgba(65,73,89,.65);
  z-index: -1;
}
.welcome-hero-txt { padding-top: 155px;}

.welcome-hero-txt h2 {
  font-size: 48px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  line-height: 1.4;
}
.welcome-hero-txt p {
  font-size: 18px;
  color: #fcfcfc;
  margin-top: 25px;
}

.welcome-hero-serch-box{margin-top: 78px;display: flex;}
.welcome-hero-form {
  display: flex;
  background: #fff;
  height: 70px;
  border-radius: 3px;
  width: 85%;
}
.single-welcome-hero-form {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  padding: 0 30px;
}
.single-welcome-hero-form:first-child{border-right: 1px solid #edeff1;}
.single-welcome-hero-form input {
  margin-left: 10px;
  height: 70px;
  width: 300px;
  border: 0;
  background: transparent;
}
.single-welcome-hero-form input[type="text"]{
  font-size: 14px;
  color: #859098;
  text-transform: capitalize;
  font-weight: 500;
}
.welcome-hero-form-icon {
  position: absolute;
  top: 20px;
  right: 30px;
  color: #252d32;
}
.welcome-hero-btn {
  display:  flex;
  justify-content:  center;
  align-items:  center;
  font-size:  18px;
  color:  #fff;
  width:  170px;
  height:  70px;
  background:  #007bff;
  text-transform:  capitalize;
  margin-left:  600px;
  margin-top: 100px;
  border-radius: 3px;
  -webkit-transition: 0.3s linear; 
  -moz-transition: 0.3s linear; 
  -ms-transition: 0.3s linear; 
  -o-transition: 0.3s linear; 
  transition: 0.3s linear;
}
.card-oferts-btn {
  display:  flex;
  justify-content:  center;
  align-items:  center;
  font-size:  18px;
  color:  #fff;
  width:  170px;
  height:  70px;
  background:  #007bff;
  text-transform:  capitalize;
  margin-left:  600px;
  margin-top: 100px;
  border-radius: 3px;
  -webkit-transition: 0.3s linear; 
  -moz-transition: 0.3s linear; 
  -ms-transition: 0.3s linear; 
  -o-transition: 0.3s linear; 
  transition: 0.3s linear;
}
.welcome-hero-btn:hover{background: #6A5ACD;
}

.welcome-hero-btn svg {
  width:  14px;
  height:  auto;
  margin-left:  12px;
}

/*-------------------------------------
      5. List-topuics
--------------------------------------*/
.list-topics-content {
  position: relative;
  top: -98px;
  z-index: 1;
}
.list-topics-content ul li { display: inline-block;}

.single-list-topics-content{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 205px;
  height: 170px;
  background:#fff;
  border-radius: 3px;
  margin-right: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0px 10px rgba(71,71,71,.2);
  -webkit-transition: .3s linear; 
  -moz-transition:.3s linear; 
  -ms-transition:.3s linear; 
  -o-transition:.3s linear;
  transition: .3s linear;
}
.single-list-topics-content h2>a { margin: 13px 0;}
/*.single-list-topics-content:last-child{margin-right: 0;}*/

.single-list-topics-icon [class^="flaticon-"]:before,.single-list-topics-icon [class*=" flaticon-"]:before,.single-list-topics-icon [class^="flaticon-"]:after,.single-list-topics-icon [class*=" flaticon-"]:after {font-size: 45px;color:#343a3f;}
.single-list-topics-content:hover .single-list-topics-icon [class^="flaticon-"]:before,.single-list-topics-content:hover .single-list-topics-icon [class*=" flaticon-"]:before,.single-list-topics-content:hover .single-list-topics-icon [class^="flaticon-"]:after,.single-list-topics-content:hover .single-list-topics-icon [class*=" flaticon-"]:after {color:#fff;}

.single-list-topics-content:hover h2>a,.single-list-topics-content:hover p{color: #fff!important;}
.single-list-topics-content:hover{
  color: #fff;
  background:#ff545a;
  box-shadow: 0 5px 10px rgba(71,71,71,.4);
}

/*-------------------------------------
      6. Works 
--------------------------------------*/
.works{padding: 0 0 90px;}
.works-content {margin-top: 73px;}

.single-how-works{
  text-align: center;
  padding:50px 42px;
  border-radius: 3px;
  box-shadow: 0 0px 5px rgba(71,71,71,.2);
  margin-bottom: 30px;
  -webkit-transition: .3s linear; 
  -moz-transition:.3s linear; 
  -ms-transition:.3s linear; 
  -o-transition:.3s linear;
  transition: .3s linear;
}

.single-how-works-icon {
  display: inline-block;
  color: #50616c;
  width: 80px;
  height: 80px;
  line-height: 80px;
  background: #eef2f6;
  border-radius: 50%;
}
.single-how-works h2 a {
  font-size:  18px;
  margin: 35px 0 20px;
}
.single-how-works h2 a span {text-transform:  lowercase;}
.single-how-works p {margin-bottom: 25px;text-transform: initial;}

.single-how-works-icon [class^="flaticon-"]:before,.single-how-works-icon [class*=" flaticon-"]:before,.single-how-works-icon [class^="flaticon-"]:after,.single-how-works-icon [class*=" flaticon-"]:after {font-size: 35px;}
.single-how-works:hover .single-how-works-icon [class^="flaticon-"]:before,.single-how-works:hover .single-how-works-icon [class*=" flaticon-"]:before,.single-how-works:hover .single-how-works-icon [class^="flaticon-"]:after,.single-how-works:hover .single-how-works-icon [class*=" flaticon-"]:after {color:#ff545a;}

.welcome-hero-btn.how-work-btn {
  display: inline-block;
  margin: 0;
  width: 100px;
  height: 35px;
  font-size: 12px;
  background: transparent;
  color: #6A5ACD;
  border: 1px solid #007bff;
  border-radius: 3px;
}

.single-how-works:hover h2 a,.single-how-works:hover p{color: #fff;}
.single-how-works:hover .single-how-works-icon{background: #fff;}
.single-how-works:hover .welcome-hero-btn.how-work-btn{background: #fff;color: #9932CC;}
.single-how-works:hover{box-shadow: 0 0px 10px rgba(71,71,71,.4);background: #1E90FF;}

